# APPLICATION
APP_SECRET=77169be3074ffe7e90a567521136dd77


# MAIL
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000

MAIL_DRIVER=ethereal

# AWS CREDENTIALS
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_DEFAUL_REGION=
